In [ ]:
# annotion : this one uploaded to the assignment1 form by me
# this one is solution of pdf format task ..

# Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# np.random.seed(42)

In [ ]:
data=np.random.rand(4,4)

In [ ]:
df = pd.DataFrame(data,columns=['feature1','feature2','feature3','feature4'])
df

   feature1  feature2  feature3  feature4
0  0.280935  0.542696  0.140924  0.802197
1  0.074551  0.986887  0.772245  0.198716
2  0.005522  0.815461  0.706857  0.729007
3  0.771270  0.074045  0.358466  0.115869

# Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
df.rename(columns={'feature1':'Random value 1','feature2':'Random value 2','feature3':'Random value 3','feature4':'Random value 4'},inplace = True)
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.280935        0.542696        0.140924        0.802197
1        0.074551        0.986887        0.772245        0.198716
2        0.005522        0.815461        0.706857        0.729007
3        0.771270        0.074045        0.358466        0.115869

# Find the descriptive statistics of the 'df' dataframe.

In [ ]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.283069        0.604772        0.494623        0.461447
std          0.345860        0.398299        0.297635        0.354095
min          0.005522        0.074045        0.140924        0.115869
25%          0.057294        0.425533        0.304080        0.178004
50%          0.177743        0.679079        0.532662        0.463861
75%          0.403518        0.858318        0.723204        0.747305
max          0.771270        0.986887        0.772245        0.802197

# Check for the null values in 'df' and find the data type of the columns.

In [ ]:
df.isnull().any()

Random value 1    False
Random value 2    False
Random value 3    False
Random value 4    False
dtype: bool

In [ ]:
type(df.isnull().any())

pandas.core.series.Series

# Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

In [ ]:
df['Random value 2']

0    0.542696
1    0.986887
2    0.815461
3    0.074045
Name: Random value 2, dtype: float64

In [ ]:
df['Random value 3']

0    0.140924
1    0.772245
2    0.706857
3    0.358466
Name: Random value 3, dtype: float64

In [ ]:
df.loc[:,['Random value 2','Random value 3']]

   Random value 2  Random value 3
0        0.542696        0.140924
1        0.986887        0.772245
2        0.815461        0.706857
3        0.074045        0.358466

In [ ]:
df.iloc[:,[1,2]]

   Random value 2  Random value 3
0        0.542696        0.140924
1        0.986887        0.772245
2        0.815461        0.706857
3        0.074045        0.358466